@import "plyr/src/sass/plyr";

.wp-block-wp-performance-youtube-plyr .plyr__video-embed iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.plyr {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}
